* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #18504a;
}

header {
    padding: 20px 35px;
    background-color: #ffe497;
}

header h1 {
    margin: 0;
    display: inline;
}

header h1 a {
    font-family: 'Explora', cursive;
    font-size: 75px;
    color: #18504a;
}

header a {
    color: #e67637;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    font-size: 15px;
    color: #e67637;
    background: #18504a;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #e67637;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #e67637;
}

section {
    padding: 60px;
}

/* Hero Style Start */

.hero {
    height: 525px;
    background-image: url("../images/Backgroundstripes.png");
    background-size: contain;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: whitesmoke;
    padding: 20px;
    width: 600px;
    color: #18504a;
    font-weight: bolder;
    border: solid 6px #e67637;
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    right: 33.33%;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #18504a;
    background-color: #e67637;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.form-input {
    border: 2px solid #18504a;
    border-radius: 25px;
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    color: #18504a;
    font-weight: bold;
    width: 70%;
    margin-bottom: 15px;
}